# Eclipse
**/.classpath
**/.project
**/.settings/

# Intellij
**/.idea/
**/*.iml
**/*.iws

# Mac
**/.DS_Store

# windows related
**/Thumbs.db

# Maven
**/log/
**/target/

# Node.js related
**/node_modules
